# KidsView ログイン情報
KIDS_VIEW_ID=your_id_here
KIDS_VIEW_PW=your_password_here
KIDS_VIEW_LOGIN_URL=https://lg.kidsview.jp/parent/secure/par_login.aspx?s=xxxxx

# Slack 通知用
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx

# Notion 連携用
NOTION_DATABASE_ID=your_database_id_here
NOTION_INTEGRATION_TOKEN=secret_xxxxx
